[Unit]
After=gluetun-airvpn-exit-node.container
Requires=gluetun-airvpn-exit-node.container

[Container]
Environment=TS_AUTH_ONCE=true
Environment=TS_HOSTNAME=airvpn
Environment=TS_TAILSCALED_EXTRA_ARGS=--no-logs-no-support
Environment=TS_EXTRA_ARGS="--advertise-exit-node --advertise-tags=tag:quadlet,tag:exit-node"
Environment=TS_STATE_DIR=/var/lib/tailscale
Image=ghcr.io/tailscale/tailscale:latest
Mount=type=volume,source=airvpn-exit-node.volume,destination=/var/lib/tailscale,chown=true
Mount=type=tmpfs,destination=/var/run/tailscale
Mount=type=tmpfs,destination=/tmp
Network=container:gluetun-%N
Secret=tskey-auth,type=env,target=TS_AUTHKEY
User=1000:1000
UserNS=auto
