[Unit]
After=tailscaled.service
Wants=tailscaled.service

[Container]
Image=quay.io/cockpit/ws:latest
Mount=type=bind,source=/etc/cockpit/cockpit.conf,destination=/etc/cockpit.conf,relabel=private,readonly=true
Mount=type=tmpfs,destination=/etc
Mount=type=tmpfs,destination=/run
Mount=type=tmpfs,destination=/tmp
Network=private
PublishPort=127.0.0.1:9090:9090/tcp
StopSignal=SIGKILL
UserNS=auto

[Service]
ExecStartPost=-/usr/bin/tailscale serve --bg --yes https+insecure://localhost:9090
SuccessExitStatus=0 137

[Install]
WantedBy=multi-user.target
