[Unit]
Wants=tailscaled.service

[Container]
AddCapability=SYS_PTRACE
AddCapability=SYS_ADMIN
AddCapability=DAC_OVERRIDE
Entrypoint=["/container/label-run"]
Exec=--address=127.0.0.1
Image=quay.io/cockpit/ws:360@sha256:04ee9aa58193055f686e2a63304f02dbd2a6c49c8292cf999ce394f3b7fed3e4
Mount=type=bind,source=/,destination=/host,bind-propagation=rslave
Network=host
NoNewPrivileges=true
PublishPort=127.0.0.1:9090:9090/tcp
PodmanArgs=--no-hosts=false
SecurityLabelDisable=true
StopSignal=SIGKILL

[Service]
ExecStartPost=-/usr/bin/tailscale serve --bg --yes https+insecure://localhost:9090
SuccessExitStatus=0 137

[Install]
WantedBy=multi-user.target
