[Unit]
Wants=tailscaled.service

[Container]
AddCapability=SYS_PTRACE
AddCapability=SYS_ADMIN
AddCapability=DAC_OVERRIDE
Entrypoint=["/container/label-run"]
Exec=--address=127.0.0.1
Image=quay.io/cockpit/ws:357@sha256:50fd820b02b9e52f2ca0a0ea3fdc6aceb5c6ed486c8c71d8886a264d32cac16b
Mount=type=bind,source=/,destination=/host,bind-propagation=rslave
Network=host
NoNewPrivileges=true
PublishPort=127.0.0.1:9090:9090/tcp
PodmanArgs=--no-hosts=false
SecurityLabelDisable=true
StopSignal=SIGKILL

[Service]
ExecStartPost=-/usr/bin/tailscale serve --bg --yes https+insecure://localhost:9090
SuccessExitStatus=0 137

[Install]
WantedBy=multi-user.target
