[Container]
Image=ghcr.io/9001/copyparty-ac:latest
Mount=type=bind,source=/srv/film,destination=/srv/film,relabel=shared,readonly=true
Mount=type=bind,source=/srv/Music,destination=/srv/Music,relabel=shared
Mount=type=bind,source=/srv/downloads,destination=/srv/downloads,relabel=shared
Mount=type=volume,source=copyparty.volume,destination=/cfg,chown=true
Mount=type=bind,source=/etc/copyparty/copyparty.conf,destination=/cfg/copyparty.conf,relabel=private,readonly=true
Mount=type=bind,source=/srv/tv,destination=/srv/tv,relabel=shared
Pod=copyparty.pod
ReadOnly=true
ReloadSignal=USR1
User=1000:995

[Service]
Restart=on-failure
