[Unit]
After=tailscaled.service

[Container]
Image=ghcr.io/9001/copyparty-ac:latest
Mount=type=bind,source=/srv/film,destination=/srv/film,relabel=shared,readonly=true
Mount=type=bind,source=/srv/Music,destination=/srv/Music,relabel=shared
Mount=type=bind,source=/srv/downloads,destination=/srv/downloads,relabel=shared
Mount=type=volume,source=copyparty.volume,destination=/cfg,chown=true
Mount=type=bind,source=/etc/copyparty/copyparty.conf,destination=/cfg/copyparty.conf,relabel=private
Mount=type=tmpfs,destination=/tmp
PodmanArgs=--uts=host
PublishPort=127.0.0.1:3923:3923/tcp
ReadOnly=true
ReadOnlyTmpfs=false
ReloadSignal=USR1
User=1000:995
UserNS=keep-id

[Service]
ExecStartPost=/usr/bin/tailscale serve --bg --yes --set-path /srv http://localhost:3923/srv

[Install]
WantedBy=multi-user.target
