[Unit]
After=tailscaled.service
Wants=tailscaled.service

[Container]
AddDevice=/dev/dri
GroupAdd=995
Image=ghcr.io/jellyfin/jellyfin:10.11
Mount=type=bind,source=/srv/film,destination=/media/film,relabel=shared,readonly=true
Mount=type=volume,source=jellyfin.volume,destination=/config,chown=true
Mount=type=bind,source=/srv/tv,destination=/srv/tv,relabel=shared,readonly=true
Network=private
PodmanArgs=--uts=host
PublishPort=127.0.0.1:8096:8096/tcp
User=1000:1000
UserNS=auto
Volume=/cache

[Service]
ExecStartPost=/usr/bin/tailscale serve --bg --yes --service=svc:j 8096
SuccessExitStatus=0 143
