[Container]
AddDevice=/dev/dri/:/dev/dri/
GroupAdd=995
Image=ghcr.io/jellyfin/jellyfin:12.2
Mount=type=bind,source=/srv/film,destination=/srv/film,relabel=shared,readonly=true
Mount=type=bind,source=/srv/tv,destination=/srv/tv,relabel=shared,readonly=true
Mount=type=volume,source=jellyfin-config.volume,destination=/config,chown=true
Mount=type=bind,source=/var/cache/jellyfin,destination=/cache,relabel=private,chown=true
Pod=jellyfin.pod
ReadOnly=true
User=966:966

[Service]
SuccessExitStatus=0 143
