[Container]
AddDevice=/dev/dri/renderD128
DNS=100.100.100.100
Environment=XDG_CACHE_HOME=/app/.cache
Environment=LLAMA_ARG_PORT=9931
Environment=LLAMA_ARG_LOG_TIMESTAMPS=0
Environment=LLAMA_ARG_N_PARALLEL=1
Environment=LLAMA_ARG_LOAD_MODE=mmap
Environment=LLAMA_ARG_DEVICE=Vulkan0
Environment=LLAMA_ARG_MODELS_MAX=1
Environment=LLAMA_ARG_FLASH_ATTN=1
Environment=LLAMA_ARG_KV_UNIFIED=1
Environment=LLAMA_ARG_CACHE_REUSE=256
Environment=LLAMA_ARG_SPEC_DRAFT_N_MAX=1
Environment=LLAMA_ARG_CTX_SIZE=8192
Environment=LLAMA_ARG_NO_HOST=1
Environment=LLAMA_ARG_REASONING=0
Environment=LLAMA_ARG_UI_MCP_PROXY=1
Exec=--no-mmproj -hf unsloth/LFM2.5-1.2B-Instruct-GGUF:UD-Q8_K_XL --temp 0.1 --top-k 50 --top-p 0.1 --repeat-penalty 1.05
Image=ghcr.io/ggml-org/llama.cpp:server-vulkan
Mount=type=volume,source=llama_cpp-cache.volume,destination=/app/.cache
Network=bridge
PublishPort=127.0.0.1:9931:9931/tcp
ReadOnly=true
ReadOnlyTmpfs=false
UserNS=auto
