[Unit]
After=var-srv.mount
Requires=var-srv.mount

[Container]
Image=ghcr.io/navidrome/navidrome:latest
GroupAdd=995
Mount=type=bind,source=/srv/Music,destination=/music,relabel=shared,readonly=true
Mount=type=bind,source=/var/lib/navidrome,destination=/data,chown=true,relabel=private
Pod=navidrome.pod
ReadOnly=true
User=971:971
Volume=/data/cache
