[Unit]
After=tailscaled.service var-srv.mount
Requires=var-srv.mount
Wants=tailscaled.service

[Container]
Image=ghcr.io/navidrome/navidrome:latest
Environment=ND_ENABLEINSIGHTSCOLLECTOR=false
Environment=ND_EXTAUTH_TRUSTEDSOURCES=10.88.0.1/32
Environment=ND_EXTAUTH_USERHEADER=Tailscale-User-Login
Environment=ND_AGENTS=
Environment=ND_AUTOIMPORTPLAYLISTS=false
Environment=ND_DEEZER_ENABLED=false
Environment=ND_ENABLEFAVOURITES=false
Environment=ND_ENABLEDOWNLOADS=false
Environment=ND_ENABLECOVERANIMATION=false
Environment=ND_ENABLENOWPLAYING=false
Environment=ND_ENABLESCROBBLEHISTORY=false
Environment=ND_ENABLESTARRATING=false
Environment=ND_ENABLETRANSCODINGCANCELLATION=true
Environment=ND_ENABLETRANSCODINGCONFIG=true
Environment=ND_INSPECT_ENABLED=false
Environment=ND_LASTFM_ENABLED=false
Environment=ND_SCANNER_PURGEMISSING=always
GroupAdd=995
Mount=type=bind,source=/srv/Music,destination=/music,relabel=shared,readonly=true
Mount=type=volume,source=navidrome.volume,destination=/data,chown=true
Mount=type=tmpfs,destination=/tmp
Network=private
PublishPort=127.0.0.1:4533:4533/tcp
User=1000:1000
UserNS=auto
Volume=/data/cache

[Service]
ExecStartPost=/usr/bin/tailscale serve --bg --yes --service=svc:n 4533

[Install]
WantedBy=multi-user.target
