[Container]
Environment=POSTGRES_HOST_AUTH_METHOD=trust
Image=registry.access.redhat.com/hi/postgresql:18
Network=postgres18.network
NetworkAlias=postgres18
Mount=type=volume,source=postgres18-data.volume,destination=/var/lib/postgresql/data/,chown=true
ReadOnly=true
UserNS=auto:uidmapping=999:26:1,gidmapping=999:26:1
