[Unit]
Requires=gluetun-qbittorrent.service
After=gluetun-qbittorrent.service

[Container]
Entrypoint=["/app/bin/Prowlarr","--nobrowser","--data=/config"]
Image=ghcr.io/home-operations/prowlarr:2
Mount=type=bind,source=/var/lib/prowlarr,destination=/config,relabel=private,chown=true
Pod=qbittorrent.pod
RunInit=true
ReadOnly=true
User=99:99

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/lib/prowlarr
ExecStartPost=/usr/bin/tailscale serve --bg --yes --http 9696 http://localhost:9696
