[Unit]
Requires=gluetun-qbittorrent.service
After=gluetun-qbittorrent.service

[Container]
Image=ghcr.io/qbittorrent/docker-qbittorrent-nox:latest
Environment=QBT_LEGAL_NOTICE=confirm
PodmanArgs=--umask=0002
Mount=type=bind,source=/srv/film,destination=/srv/film,relabel=shared
Mount=type=bind,source=/srv/tv,destination=/srv/tv,relabel=shared
Mount=type=bind,source=/srv/downloads,destination=/srv/downloads,relabel=shared
Mount=type=bind,source=/var/lib/qbittorrent,destination=/config,relabel=private,chown=true
Pod=qbittorrent.pod
ReadOnly=true
ReadOnlyTmpfs=false
StopTimeout=20
User=968:995

[Service]
ExecStartPost=/usr/bin/tailscale serve --bg --yes --http 8080 http://localhost:8080/
