[Unit]
Requires=gluetun-slskd.service

[Container]
Entrypoint=["/slskd/slskd"]
GroupAdd=965
HealthCmd=/bin/true
HealthStartupCmd=test -S /run/slskd/slskd.sock
HealthStartupInterval=1s
Image=ghcr.io/slskd/slskd@sha256:ecd4026d4f8fb504e2cc55323efa2c1f5b56d20d3686b018249cc36b48ea17a6
Mount=type=bind,source=/srv/Music,destination=/srv/Music,relabel=shared,readonly=true
Mount=type=bind,source=/srv/downloads,destination=/srv/downloads,relabel=shared
Mount=type=bind,source=/var/lib/slskd,destination=/app,relabel=private,chown=true
Mount=type=bind,source=/run/slskd,destination=/run/slskd,relabel=private
Notify=healthy
Pod=slskd.pod
PodmanArgs=--umask=002
Secret=slskd_user,type=env,target=SLSKD_SLSK_USERNAME
Secret=slskd_pass,type=env,target=SLSKD_SLSK_PASSWORD
User=969:995

[Service]
ExecStartPost=/usr/bin/tailscale serve --bg --yes --http 5030 unix:/run/slskd/slskd.sock
