[Unit]
After=tailscaled.service gluetun-slskd.service var-srv.mount
Requires=gluetun-slskd.service var-srv.mount
Wants=tailscaled.service

[Container]
Entrypoint=["/slskd/slskd"]
Environment=SLSKD_NO_AUTH=true
Environment=SLSKD_UMASK=002
Environment=SLSKD_SLSK_DNET_LOGGING=true
Environment=SLSKD_SLSK_LISTEN_PORT=34977
Environment=SLSKD_NO_LOGO=true
Environment=SLSKD_SHARED_DIR=/srv/Music
Environment=SLSKD_DOWNLOADS_DIR=/srv/downloads
Environment=SLSKD_REMOTE_CONFIGURATION=true
Environment=SLSKD_SHARE_FILTER='^musiclibrary.db$'
Environment=SLSKD_CONFIG=/etc/slskd/slskd.yml
Image=ghcr.io/slskd/slskd:latest
Mount=type=bind,source=/srv/slskd,destination=/srv/Music,relabel=shared,readonly=true
Mount=type=bind,source=/srv/downloads,destination=/srv/downloads,relabel=shared,chown=true
Mount=type=bind,source=/etc/slskd,destination=/etc/slskd,relabel=private,chown=true
Mount=type=tmpfs,destination=/.net
Mount=type=tmpfs,destination=/app
Mount=type=tmpfs,destination=/tmp
Network=container:gluetun-slskd
PodmanArgs=--umask=002
Secret=slskd_user,type=env,target=SLSKD_SLSK_USERNAME
Secret=slskd_pass,type=env,target=SLSKD_SLSK_PASSWORD
User=1000:995
UserNS=auto:gidmapping=995:995

[Service]
ExecStartPre=-/usr/bin/btrfs subvolume delete /srv/slskd
ExecStartPre=/usr/bin/btrfs subvolume snapshot /srv/Music /srv/slskd
ExecStartPost=-/usr/bin/tailscale serve --service=svc:s --bg --yes 5030

[Install]
WantedBy=multi-user.target
