[Unit]
After=tailscaled.service gluetun-transmission.service
Requires=gluetun-transmission.service
Wants=tailscaled.service

[Container]
Entrypoint=["/usr/bin/transmission-daemon"]
Exec=--foreground --config-dir /config
Image=ghcr.io/linuxserver/transmission:latest
Mount=type=bind,source=/srv/film,destination=/srv/film,relabel=shared
Mount=type=bind,source=/srv/downloads,destination=/srv/downloads,relabel=shared
Mount=type=bind,source=/srv/tv,destination=/srv/tv,relabel=shared
Mount=type=volume,source=transmission.volume,destination=/config,chown=true
Mount=type=bind,source=/etc/transmission-daemon/settings.json,destination=/config/settings.json,chown=true,readonly=true
Mount=type=tmpfs,destination=/tmp
Network=container:gluetun-%N
StopTimeout=20

[Service]
ExecStartPost=/usr/bin/tailscale serve --service=svc:t --bg --yes 9091
TimeoutStopSec=20
