[Container]
Environment=ADMIN_USERNAME=admin
Environment=ADMIN_PASSWORD=admin
Image=docker.io/yattee/yattee-server:latest
Mount=type=bind,source=/var/lib/yattee-server,destination=/app/data,relabel=private
Network=bridge
PublishPort=127.0.0.1:8085:8085/tcp
ReadOnly=true
Volume=/app/data/temp
User=964:964
UserNS=auto:uidmapping=964:964:1,gidmapping=964:964:1

[Service]
ExecStartPost=/usr/bin/tailscale serve --bg --yes --http 8085 http://localhost:8085

[Install]
WantedBy=default.target
