[Unit]
After=var-local-libvirt-images.service var-lib-libvirt.mount
Requires=var-local-libvirt-images.service
Before=virtstoraged.service

[Mount]
What=/var/local/libvirt/images
Where=/var/lib/libvirt/images
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
